.lead__title {
    margin: 0 auto;
    font-size: 96px;
    line-height: 104%;
    max-width: 720px;
    text-align: center;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: 12.5vw;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        font-size: 40px;
        line-height: 110%;
        max-width: 288px;
    }
}

