.intro {
    max-width: 984px;
    min-width: 320px;
    margin: 92px auto 0;
}


@media screen and (max-width: 1279px) {
    .intro {
        margin-top: 88px;
        width: 91vw;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin-top: 64px;

    }
}

@media screen and (max-width: 320px) {
    .intro {
        margin-left: 16px;
    }
}