.cover__title {
    margin: 0;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    /* top: 18vw;
    left: 23.5vw; */
    z-index: 1;
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 10vw;
        max-width: 72vw;
    }
}