.cover__grid {
    margin-top: 20%;
    display: grid;
    position: absolute;
    /* top: 25%;
    left: 25%; */
    grid-template-columns: minmax(320px,1184px);
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    gap: 32px;
}

@media screen and (max-width: 1023px) {
    .cover__grid {
        margin-top: 17%;
    }
}

@media screen and (max-width: 768px) {
    .cover__grid {
        gap: 16px;
        margin-top: 10%;
    }
}